torch
torchvision
torchaudio


scikit-image
opencv-python
cupy
pytorch-lightning==1.8.4
matplotlib
psutil
tqdm
pandas
scipy
numpy
tensorboard
future
protobuf
numpy
kornia
hydra-core
wget
seaborn
easydict
torchpq
cython==0.29.36
timm
mmcv
einops
setuptools
pyDeprecate
azureml
azureml.core
